<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no,
	 initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>YAKULT REGISTRAR</title>
	
<link rel="stylesheet" href="css/estilosregistrar.css">
<form method="POST" action="/pages" id="msform">
    
    <ul id="progressbar">
      <li class="progressbar__option active">Registrar datos</li>
    </ul>

    <fieldset>
      <h2 class="fs-title">Captura tus datos</h2>
      <h3 class="fs-subtitle">Rifa Yakult 2022</h3>
      <input type="text" id="ref"name="ref" placeholder="Número de ticket" />
      <input type="text" id="nombre"name="nombre" placeholder="Nombre completo" />
      <input type="text" id="telefono"name="telefono" placeholder="Teléfono" />
      <input type="email" id="email"name="email" placeholder="Correo electronico" />
      <a href="/"><input type="button" name="next" class="back back-button" value="Regresar" /></a>
      
      
      <a href="aleatorio"><input type= "sumbit" name="next" class="next action-button" value="Registrar" /></a>
    </fieldset>
    
    <script src="jquery.js"></script>
  </form>